
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './secciones/header';
@import './secciones/_main-index';
@import './secciones/footer';
@import './secciones/_main-redes';
//todo archivo secundario que se crea, es con _
